body {
  background-color: greenyellow;
}

.img-flex {
  outline: red;
  border: 1px, solid, red;
  display: flex;
}
ul {
  list-style: none;
}

#gallery {
  display: flex;
}

#gallery li {
  margin-right: 10px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

input {
  display: table;
}
